name: vigiconso
description: A new Flutter project.

# This prevents publishing to the pub.dev
publish_to: 'none'

version: 1.1.0+2

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  http: ^1.1.0
  intl: ^0.20.2
  url_launcher: ^6.1.14
  cached_network_image: ^3.3.0
  shared_preferences: ^2.2.1
  mobile_scanner: ^6.0.10
  permission_handler: ^12.0.0+1
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.14.3

flutter:
  uses-material-design: true
  assets:
    - assets/images/

flutter_icons:
  android: true
  ios: true
  image_path: "assets/images/icon.png"